.card-style {
  height: 500px;
  width: 300px;
  padding: 50px 30px;
  background-color: #515151;
  border-bottom: 2px solid #b212bf;
  border-radius: 5px;
  margin: auto;
  margin-top: 20px;
  height: auto;
}

.card-style h2 {
  color: #fff;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 50px;
  margin: 0;
}

.card-style input {
  width: 100%;
}

.card-style p {
  color: #fff;
}

.card-style button {
  color: #fff;
  background-color: #515151;
  padding: 10px 30px;
  border: 2px solid #b212bf;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  display: block;
  cursor: pointer;
}

.card-style button:hover {
  transition-duration: 300ms;
  background-color: #444444;
}
