.card-product{
    height: 500px;
    width: 300px;
    padding: 10px;
    background-color: #515151;
    border-bottom: 2px solid #b212bf;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 60% 40%;
    margin: auto;
}

.card-product img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.card-product > div{
    color: #eee;
    display: grid;
    grid-template-rows: 20% 20% 40% 20%;
    align-items: center;
    padding: 10px;
}

.card-product > div > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-product > div > div span{
    color: #b84dc2;
    font-size: 1.2em;
    /* text-decoration: underline 3px #b212bf; */
}

.card-product > div > div p{
    overflow-y: scroll;
}

.card-product > div button{
    border: 1px solid #b212bf;
    background-color: #b212bf;
    color: #eee;
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
    font-size: .9em;
}

.card-product > div button:hover{
    opacity: .8;
}