nav{
    display: flex;
    justify-content: space-between;
    /* background-color: #b212bf; */
    /* box-shadow: 0px 1px 20px 0px #b212bf; */
    padding: 10px 20px;
    align-items: center;
    color: #eee;
    border-bottom: 2px solid #b212bf;
    border-radius: 5px;
}

nav img{
    height: 50px;
}

nav ul{
    display: flex;
    list-style: none;
    column-gap: 20px;
}

nav ul li{
    cursor: pointer;
    color: #515151;
}

nav ul li:hover{
    color: #b212bf;
}

nav ul li.activo{
    color: #b212bf;
}