nav{
    display: flex;
    justify-content: space-between;
    /* background-color: #b212bf; */
    /* box-shadow: 0px 1px 20px 0px #b212bf; */
    padding: 10px 20px;
    align-items: center;
    color: #eee;
    border-bottom: 2px solid #b212bf;
    border-radius: 5px;
    background-color: rgb(31, 30, 34);
}

nav img{
    height: 50px;
    cursor: pointer;
}

nav ul{
    display: flex;
    list-style: none;
    column-gap: 20px;
}

nav ul li{
    display: flex;
    align-items: center;
}

nav ul li a{
    cursor: pointer;
    color: #515151;
}

nav ul li a fa-icon {
    font-size: 1.4em;
}

nav ul li a:hover{
    color: #b212bf;
}

nav ul li a.activo{
    color: #b212bf;
}

#cart{
    position: relative;
}

#cart:hover::after{
    color: #eee;
}

#cart::after{
    content: attr(data-content);
    color: #eee;
    position: absolute;
    top: -50%;
    left: 80%;
    padding: 5px;
    border-radius: 50%;
    background-color: #b84dc2;
    font-size: .8em;
    height: 10px;
    width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}