.card-style {
  height: 500px;
  width: 300px;
  padding: 50px 30px;
  background-color: #515151;
  border-bottom: 2px solid #b212bf;
  border-radius: 5px;
  margin: auto;
  margin-top: 20px;
  height: auto;
}

.card-style h2 {
  color: #fff;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 50px;
  margin: 0;
}

.card-style input {
  width: 100%;
  box-sizing: border-box;
}

.card-style p {
  color: #fff;
}

.card-style button {
  color: #fff;
  background-color: #515151;
  padding: 10px 30px;
  border: 2px solid #b212bf;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}

.card-style button:hover {
  transition-duration: 300ms;
  background-color: #444444;
}

.register-option {
  margin-top: 30px;
  display: block;
  text-align: right;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 17px;
}

.register-option p {
  color: #fff;
  margin-right: 10px;
}

.register-option a {
  margin-top: 10px;
  color: #bd28c9;
  cursor: pointer;
  padding: 5px 10px;
  transition-duration: 300ms;
}

.register-option a:hover {
  transition-duration: 600ms;
  color: #d662df;
}

.buttons-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.one-line {
  width: 100%;
  display: inline-block;
}

.mid-line {
  width: 48%;
  display: inline-block;
}

.one-three {
  width: 32%;
  display: inline-block;
}

.two-three {
  width: 66%;
  display: inline-block;
}

.first {
  margin-right: 1%;
}

.second {
  margin-left: 1%;
}
